@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,400&family=Inter&family=Lato:ital,wght@0,300;1,300&family=Russo+One&display=swap");
.exclusive-headline {
  position: absolute;
  top: 360px;
  left: 30px;
  font-family: "Cormorant Garamond", serif;
}
.exclusive-headline .part-1 {
  font-size: 160px;
  font-weight: 100;
  color: #fff;
  letter-spacing: 10px;
}
.part-1:hover {
  color: aqua;
  transition: color 0.7s linear;
}
.exclusive-headline .part-2 {
  font-size: 100px;
  position: absolute;
  left: 300px;
  color: #fff;
}
.exclusive-img img {
  width: 600px;
  margin-top: 100px;
}
